/* 首页背景图手机端适配 */
@media screen and (max-width: 768px) {
  #page-header.full_page {
    background-image: url(/index-phone.png) !important;
    background-attachment: scroll !important;
    background-position: center center !important;
    background-size: cover !important;
  }
}
